fastapi==0.115.12
gradio==5.26.0
langchain_google_genai==2.1.3
paymanai==2.7.0
pg8000==1.31.2
pydantic==2.11.3
pydantic_ai==0.1.3
pydantic_settings==2.9.1
python-dotenv==1.1.0
splitwise==3.0.0
uvicorn==0.34.2
